@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Google Sans", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}
/*
Source - https://stackoverflow.com/a/30680994
Posted by Anirban Bhui, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-02, License - CC BY-SA 4.0
*/

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
